
.site{
  background-color: rgb(234, 236, 238);
}
.nav-link{
  padding: 10px;
  margin-right: 5px;
  text-decoration: none;
  font-size: 1.2rem;
  color: white;
  border: 1px solid gray;
  border-radius: 5px;
  background-color: black;
}

nav{
  display: flex;
  justify-content: space-between;
  height: 80px;
  width: auto;
  background-color: white;
  text-decoration: none;
  align-items: center;
  z-index: 20;
}
nav .logo{
  font-size: 1.4rem;
  font-weight: bold;
  margin-left: 5px;
}

.home,.hello{
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

main{
  height: 85vh;
}